*{
  box-sizing: border-box;
  font-family: "Roboto";
}

/* //HEADER */
.navbar{

background-color:black;
backdrop-filter: blur(30px);
padding: 20px;
width: 100%;
margin: 0px;
  
}
.contenedorLogoNavbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contenedorLogoNavbar ul{
  width:80vh;
  display:flex;
  justify-content: space-between;
  padding: 1rem;
  list-style-type: none;

}
.contenedorLogoNavbar a{
  color: antiquewhite;
  text-decoration: none;

}
.logo img {
  height: 4rem; 
  padding: 10px;
  border-radius: 40px;
  background-color: var(--light);
}

.inputSearch {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  height: 24px;
  width: 100%;
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 30px;
  text-indent: 4px;

}


/* BANNER */

.banner {

  position: relative;
  display:flex;
  justify-content: center;
  background-image: url("./public/imgs/banner1.jpeg")  ;
  height:20rem;
align-items:center;
}

.banner h1{
  z-index: 3;
  color: aliceblue;

}

/* SALE PRODUCTOS */
.contenedorListadoSale{
background-color: white;
height: 30rem;
display: flex;
}

.listadoSale h2{
  position: relative;
left: 35rem;
}

/*FOOTER */

footer {
  background-color:grey;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: row;
}

footer div {
  display: flex;
  flex-direction: COLUMN;
  align-items: center;
  margin-bottom: 10px;
  width: 33%;
  color: aliceblue;
}

.redes {
  flex-direction: row;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes a {
  padding: 5px;
}


/* /INPUT DEL LOGIN/ */

.containerForm {
  flex-direction: column;
}

.containerForm form {
  display: flex;
  flex-direction: column;
} 

.containerForm h3 {
  margin-top: 10px;
}

.containerForm input{
  margin: 5px;
  border: none;
  border-radius: 20px;
  font-size: 0.2 em;
  text-align: center;
  padding: 5px;
}

.containerForm button{
  margin: 5px;
  border: none;
  border-radius: 20px;
  font-size: 0.2 em;
  text-align: center;
  padding: 5px;
}
